

/*General Styling*/

body {
  background-color: #f2f2f2;
  font-family: 'Karla', Arial, sans-serif;
}

body * {
      box-sizing: border-box;
	/* margin: 0;
	border: 0; */
	display: inline-block;
  }

h2 {
  font-size: 18px;
  font-weight: bold;
}

small {
  font-size: 14px;
}

.pull {
  float: left;
}

.push {
  float: right;
}

.container {
width: 100%;
max-width: 960px;
margin: 100px auto;
}


img-div{
    display: inline-block;
   background-color: red;
}

.half {
  width: 50%;
  display: inline-block;
}

.img-right {
  background-color: white;
}


.text-left {
/* position: absolute;   */
/* width: 50%;
display: block; */
/* position: absolute;   */
position:relative;
text-align: center;
bottom: 25%;
right:0;
/* left: 50%;                        /* horizontal alignment */
/* top: 50%;                         vertical alignment */ 
background-color: white;


/* transform: translate(-50%, -50%); precise centering; see link below */
}

.player-num-and-pos{
  word-spacing: 10px;
}

.grid-items-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  
  grid-template-columns: auto auto auto;
  gap: 1rem;
  /* display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px; */
}
.grid-items {
  background-color: dodgerblue;
  color: black;
  padding: 1rem;
  height: 4rem;
  border: 1px solid rgba(0, 0, 0, 0.8);
  /* background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px; */
  font-size: 20px;
  text-align: center;
}

@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(3, 1fr); }
}

/*Card Styling*/

.card {
  border: 1px solid #dedede;
  background-color: white;
}

.card__wrap--inner {
          padding: 12px;
      }

.card__item {
      padding: 12px 18px 12px 18px;
  }

.card__sub {
      padding: 0 18px;
  }

.card__footer {
      padding: 18px;
      overflow: hidden;
      border-top: 1px solid #dedede;
  }

/*Card Flex Code*/

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card__wrap--outer {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          width: 100%;
      }

.card__wrap--inner {
          display: flex;
          flex-direction: row;
          width: 100%;
      }

   

@media (min-width: 480px) {

.card__wrap--inner  { 
              width: 50%
      }

 
    }

@media (min-width: 1024px) {

.card__wrap--inner { 
              width: 33.33%
      }

   
          }

.flexible {
  flex-grow: 1;
}